officialboomi-sap-jco-2206ee592dda/src/main/resources/EDI_DC40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://schemas.boomi.com/sap/edi_dc40">
	<xsd:element name="EDI_DC40">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
					<xsd:annotation>
						<xsd:documentation>Name of Table Structure</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MANDT" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Client</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="DOCNUM" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>IDoc number</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="16" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="DOCREL" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>SAP Release for IDoc</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="4" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="STATUS" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Status of IDoc</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="DIRECT">
					<xsd:annotation>
						<xsd:documentation>Direction</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="1">
								<xsd:annotation>
									<xsd:documentation>Outbound</xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
							<xsd:enumeration value="2">
								<xsd:annotation>
									<xsd:documentation>Inbound</xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="OUTMOD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Output mode</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="EXPRSS" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Overriding in inbound processing
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="TEST" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Test flag</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="IDOCTYP" type="xsd:string" fixed="MATMAS05">
					<xsd:annotation>
						<xsd:documentation>Name of basic type</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CIMTYP" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Extension (defined by customer)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="30" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="MESTYP" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Message type</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="30" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="MESCOD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Message code</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="MESFCT" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Message Function</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="STD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EDI standard, flag</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="STDVRS" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EDI standard, version and release
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="6" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="STDMES" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>EDI message type</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="6" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SNDPOR">
					<xsd:annotation>
						<xsd:documentation>Sender port (SAP System, external subsystem)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SNDPRT">
					<xsd:annotation>
						<xsd:documentation>Partner type of sender</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SNDPFC" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Partner Function of Sender</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SNDPRN">
					<xsd:annotation>
						<xsd:documentation>Partner Number of Sender</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SNDSAD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Sender address (SADR)</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="21" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SNDLAD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Logical address of sender</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="70" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="RCVPOR">
					<xsd:annotation>
						<xsd:documentation>Receiver port</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="RCVPRT" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Partner Type of Receiver</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="RCVPFC" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Partner function of recipient
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="RCVPRN">
					<xsd:annotation>
						<xsd:documentation>Partner Number of Receiver</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="RCVSAD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Recipient address (SADR)</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="21" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="RCVLAD" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Logical address of recipient
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="70" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CREDAT" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Created on</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="8" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CRETIM" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Created at</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="6" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="REFINT" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Transmission file (EDI Interchange)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="14" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="REFGRP" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Message group (EDI Message Group)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="14" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="REFMES" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Message (EDI Message)</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="14" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ARCKEY" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Key for external message archive
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="70" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SERIAL" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Serialization</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="20" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="SEGMENT" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>